<a href="https://colab.research.google.com/github/Yaminicetty/PYTHON-PROGRAMS/blob/main/PYTHON_PROGRAMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Average of three numbers

In [ ]:
a=10
b=20
c=30
d=(a+b+c)/3
print(d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

20.0
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

# Multiplication of three numbers( STATIC)

In [ ]:
a=5
b=10
c=a*b
print(c)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

50
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

# Addition  of three numbers (Dynamic)

In [ ]:
a=int(input("enther the variable")) 
b=int(input("enter the variable"))
c=a+b
print(c)
print(type(b))

enther the variable5
enter the variable6
11
<class 'int'>

# Multiplication of three numbers (dynamic)

In [ ]:
a=int(input("enter the varible"))
b=int(input("enter the variable"))
c=int(input("enter the variable"))
d=a*b*c
print(d)
print(type(d))

enter the varible9
enter the variable9
enter the variable9
729
<class 'int'>

# Type Conversions

Convert int to float

In [ ]:
a=10
print(type(a))
b=float(a)
print(b)
print(type(b))

<class 'int'>
10.0
<class 'float'>

Convert float to int

In [ ]:
a=100.23
print(type(a))
b=int(a)
print(b)
print(type(b))

<class 'float'>
100
<class 'int'>

Convert int to string

In [ ]:
a=45
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

45
<class 'int'>
45
<class 'str'>

convert float to string

In [ ]:
a=45.5
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

45.5
<class 'float'>
45.5
<class 'str'>

convert int to boolean

In [ ]:
a=10
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

10
<class 'int'>
True
<class 'bool'>

Convert String to int

In [ ]:
a="45"
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

45
<class 'str'>
45
<class 'int'>

Convert String to boolean

In [ ]:
a="45"
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

45
<class 'str'>
True
<class 'bool'>

Convert String to float

In [ ]:
a="45"
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

45
<class 'str'>
45.0
<class 'float'>

 Boolean Example

In [ ]:
a=2
b=10
c=a>b
b=float(c)
print(c)

False

Convert boolean to int

In [ ]:
a=45
b=50
c=a>b
print(c)
print(type(c))
d=int(bool(c))
print(d)
print(type(d))

False
<class 'bool'>
0
<class 'int'>

Convert boolean to float

In [ ]:
a=10
b=5
c=a>b
print(c)
print(type(c))
d=float(bool(c))
print(d)
print(type(d))

True
<class 'bool'>
1.0
<class 'float'>

Convert boolean to string

In [ ]:
a=10
b=5
c=a>b
print(c)
print(type(c))
d=str(bool(c))
print(d)
print(type(d))

True
<class 'bool'>
True
<class 'str'>