<a href="https://colab.research.google.com/github/Yaminicetty/PYTHON-PROGRAMS/blob/main/SETS_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
set = {"sugar", "cherry", "pulp"}
print(set)

{'pulp', 'sugar', 'cherry'}

In [ ]:
set1 =  {1, 2, 3} 
set2 =  {"a", "b" , "c"} # the union method returns to a new set with all items from both the sets
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [ ]:
set1 = {"a", "b" , "c"}#the update method inserts items from set1 to set2
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

In [ ]:
x = {"peacock", "world", "pear"} # intersection to identify the items in both the sets
y = {"pear", "penguin", "mango"}

x.intersection_update(y)

print(x)

{'pear'}

In [ ]:
x = {"peacock", "world", "pear"} # to identify the items which are not in both the sets
y ={"pear", "penguin", "mango"}
x.symmetric_difference_update(y)

print(x)

{'penguin', 'peacock', 'world', 'mango'}

In [ ]:
set5 = {"peacock", "world", "pear"} #Through loops

for x in set5:
  print(x)

world
peacock
pear

In [ ]:
set0 = {"peacock", "world", "pear"}#to check whether the item is present or not
print("world" in set0)

True

In [ ]:
set10 = {"pear", "penguin", "mango"} #add in the set
set10.add("orange")
print(set10)

{'orange', 'pear', 'mango', 'penguin'}

In [ ]:
set8 = {"potato", "mat", "cello"} # add items from rainy to set8
rainy = {"summer","winter","monsoon"}
set8.update(rainy)
print(set8)

{'potato', 'monsoon', 'winter', 'summer', 'cello', 'mat'}

In [ ]:
set11 = {"summer","winter","monsoon"} #remove from the set
set11.remove("winter")
print(set11)

{'monsoon', 'summer'}

In [ ]:
set20= {"summer","winter","monsoon"}# discard item from the cell
set20.discard("monsoon")
print(set20)

{'summer', 'winter'}

In [ ]:
set50 = {"summer","winter","monsoon"}# remove the last item using pop
x =set50.pop()
print(set50)

{'summer', 'winter'}

In [1]:
set10 = {"summer","winter","monsoon"} #Loop through the set, and print the values:

for x in set10:
  print(x)

apple
banana
cherry

In [2]:
set1 = {"a", "b" , "c"}          #The union() method returns a new set with all items from both sets:
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [5]:
set1 = {"a", "b" , "c"} #The update() method inserts the items in set2 into set1:
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [9]:
x = {"summer","winter","monsoon"}        #Keep the items that exist in both set x, and set y:
y = {"dog", "cat", "winter"}

x.intersection_update(y)

print(x)

{'winter'}

In [11]:
x = {"summer","winter","monsoon"}
y = {"dog", "cat", "winter"}
z = x.intersection(y)
print(z)

{'winter'}

In [12]:
x = {"summer","winter","monsoon"}
y = {"dog", "cat", "winter"}

x.symmetric_difference_update(y)                    #Keep the items that are not present in both sets

print(x)

{'monsoon', 'dog', 'cat', 'summer'}